## Preprocessing

In [11]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [12]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=["EIN", "NAME"], axis=1)
application_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [14]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [15]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [16]:
application_df.shape

(34299, 10)

In [19]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(application_counts[application_counts < 200].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [20]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE

classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2570        1
C6100        1
C4200        1
C1283        1
C1570        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [21]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1256        2
C1234        2
C3200        2
C1267        2
C1246        2
Name: CLASSIFICATION, dtype: int64

In [23]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(classification_counts[classification_counts < 1800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [27]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_numeric = pd.get_dummies(application_df, columns = ["AFFILIATION", "APPLICATION_TYPE", "INCOME_AMT", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "SPECIAL_CONSIDERATIONS"])
application_numeric.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0
3       1     6692  ...                         1                         0
4       1   142590  ...                         1                         0

[5 rows x 44 columns]

In [30]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_numeric["IS_SUCCESSFUL"].values.reshape(-1, 1)
X = application_numeric.drop("IS_SUCCESSFUL", axis=1).values
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [31]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [32]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

# number of layer1 neurons = 2*(number of inputs=43) = 86 ~ 80
hidden_nodes_layer1 = 80

# number of layer2 neurons: Between (input=80) and (output=1 - classifier)
hidden_nodes_layer2 = 30

#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))  # binary clasifier -> 1 output neuron/sigmoid activation
# Check the structure of the model
nn.summary()
# 1st Hidden Layer: 3520 params = [43 inputs (from input layer) * 80 neurons] + (80 bias terms)
# 2nd Hidden Layer: 2430 params = [80 inputs (from 1st hidden layer) * 30 neurons] + (30 bias terms)
# Output Layer: 31 params = [30 inputs (from 2nd hidden layer) * 1 neuron] + (1 bias term)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [35]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7406
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7409
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7413
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7407
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7406
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7410
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7409
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7409
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7417
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7411
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7414
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7407
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7404
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7410
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7407
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7411
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7410
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7409
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7412
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7411
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7409
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7406
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7409
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7416
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7414
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7415
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7414
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7416
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7409
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7409
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7411
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7406
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7409
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7407
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7404
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7418
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7407
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7418
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7418
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7413
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7415
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7415
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7413
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7410
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7412
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7412
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7413
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7411
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7416

In [36]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5716 - accuracy: 0.7275 - 379ms/epoch - 1ms/step
Loss: 0.5716226696968079, Accuracy: 0.7274635434150696

In [39]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE

nn.save("AlphabetSoupCharity.h5")